<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wang.blog.dao.ArticleMapper">

    <insert id="addarticle">
        insert  into
        article (id,author,title,context,fullcontext,createtime,authorid)
        value (id,#{author},#{title},#{context},#{fullcontext},#{createtime},#{authorid})
    </insert>

    <!--    根据id查找文章-->
    <select id="getArticleById" parameterType="Integer" resultMap="ArticleAntity">
        select  article.*,authorinfo.*
        from article,authorinfo
        where article.authorid = authorinfo.authorid and article.id = #{id}
    </select>

    <!--    查找全部文章-->
    <select id="getAllArticle" resultMap="ArticleAntity">
            select  article.*,authorinfo.*
        from article,authorinfo
    </select>


    <!--    分页插件-->
    <select id="findAll" resultMap="ArticleAntity">
        select  article.*,authorinfo.*
        from article,authorinfo
    </select>


    <resultMap id="ArticleAntity" type="com.wang.blog.entity.ArticleEntity">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="author" property="author"></result>
        <result column="context" property="context"></result>
        <result column="likecount" property="likecount"></result>
        <result column="createtime" property="createtime"></result>
        <result column="authorid" property="authorid"></result>
        <result column="fullcontext" property="fullcontext"></result>
        <association property="authorEntity" javaType="com.wang.blog.entity.AuthorEntity">
            <id column="authorid" property="authorid"></id>
            <result column="name" property="name"></result>
            <result column="country" property="country"></result>
            <result column="borntime" property="borntime"></result>
            <result column="deadtime" property="deadtime"></result>
            <result column="UUID" property="UUID"></result>
        </association>
    </resultMap>

</mapper>